body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

div.contactDiv{
    background-color: #fff;
}

p{
    color:black;
}

.Text {
    margin-left: 5%;
    margin-right: 5%;
}

.Subcontainer:link {
    color: #318FCD
}

.Subcontainer:hover {
    color: grey
}