.navLink:link, .navLink:visited {
    background-color: grey;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navLink:hover, .navLink:active {
    background-color: black;
}