a:link, a:visited {
    background-color: grey;
    color: #318FCD;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}