
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/contactPage.css")" type="text/css" />
</head>
<h2>Contact</h2>

<body>
    <div class="container">
        <p>Contact me through email or online, you may also go to our fourm and post questions there.</p>
        <p>Email: judith.collins@parliament.govt.nz</p>
        <p>Twitter: @@JudithCollinsMP</p>
        <p>FaceBook: <a href="https://www.facebook.com/judithcollinsmp/">judithcollinsmp</a></p>
    </div>
    <div>
        <br />
        <p>Office located in papakura</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d669.3345522156777!2d174.94159252945695!3d-37.059636254106294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d72ad2ae944ef97%3A0x19edca3cb8e05aa4!2s98%20Great%20South%20Rd%2C%20Papakura%2C%202110!5e0!3m2!1sen!2snz!4v1572554713433!5m2!1sen!2snz" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</body>
