
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<body>
    <div class="container">
        <p>Contact me through email, phone or online, you may also go to our fourm and post questions there.</p>
        <p>Email: </p>
        <p>Phone: </p>
        <p>Twitter: @@JudithCollinsMP</p>
        <p>Facebook: </p>
    </div>
</body>
