
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/Home.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("/Content/Home.js")"></script>
</head>

<h1><span class="Heading-Underline">Home</span></h1>

<body>
    <div class="text-body">
        <div>
            <br />
            <h4>About</h4>
            <p>Judith has been studying for a Graduate Diploma in Occupational Health & Safety from Massey University. She is an Affiliate member of the New Zealand Institute of Safety Management (NZISM).</p>
        </div>
        <hr class="first">
        <div class="slideshowContainer">
            <div class="slideshow fade" style="display:block;opacity:1; text-align:center; vertical-align:middle">
                <img src="~/Content/images/test1.jpg" style="height:500px;">
            </div>

            <div class="slideshow fade" style="display:none;opacity:1;text-align:center; vertical-align:middle">
                <img src="~/Content/images/test2.jpg" style="height:500px">
            </div>

            <div class="slideshow fade" style="display:none;opacity:1;text-align:center; vertical-align:middle">
                <img src="~/Content/images/test3.jpg" style="height:500px">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="container">
            <h3>Twitter Feed</h3>
            <a class="twitter-timeline" href="https://twitter.com/JudithCollinsMP?ref_src=twsrc%5Etfw" data-width="400"
               data-height="450">Tweets by @@JudithCollinsMP</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</body>