
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<p>Some Text</p>
<a class="twitter-timeline" href="https://twitter.com/JudithCollinsMP?ref_src=twsrc%5Etfw" data-width="400"
   data-height="450">Tweets by TwitterDev</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>