
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<body>
    <div class="text-body">
        <div>
            <h4>About</h4>
            <p></p>
            <p>Judith has been studying for a Graduate Diploma in Occupational Health & Safety from Massey University. She is an Affiliate member of the New Zealand Institute of Safety Management (NZISM).</p>
        </div>
        <div class="container">
            <h3>Twitter Feed</h3>
            <a class="twitter-timeline" href="https://twitter.com/JudithCollinsMP?ref_src=twsrc%5Etfw" data-width="400"
               data-height="450">Tweets by @@JudithCollinsMP</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</body>
