
@{
    ViewBag.Title = "Judith Says";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JudithSays</h2>

<body>
    <div class="container">
        <p>Vote for me and I will do (Insert Political things here)</p>
    </div>
</body>
