
@{
    ViewBag.Title = "Judith Says";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/judithSaysStyles.css")" type="text/css" />
</head>


<body class="container">
    <h1><span class="Heading-Underline">Judith Says</span></h1>
    <div>
        <div class="AudioLinkContainer" style="display:inline-block;">
            <div class="AudioLinkContainerHeader">
                <h4>Podcasts:</h4>
            </div>
            <ul>
                <li>vbnmj</li>
                <li>vbghjk</li>
                <li>ghjk</li>
            </ul>
        </div>
        <div class="VideoTile">
            <div class="videoWrap">
                <h4 style="text-align:center">Video Title</h4>
                <iframe style="text-align:center; width:100%;" class="videoLink" src="https://www.youtube-nocookie.com/embed/dt9FSSoLbmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div style="background-color:white; display:inline-block; width:50%">
            <div class="videoWrap">
                <h4 style="text-align:center">Video Title</h4>
                <iframe style="text-align:center; width:100%;" class="videoLink" src="https://www.youtube-nocookie.com/embed/dt9FSSoLbmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div style="background-color:white; display:inline-block; width:50%">
            <div class="videoWrap">
                <h4 style="text-align:center">Video Title</h4>
                <iframe style="text-align:center; width:100%;" class="videoLink" src="https://www.youtube-nocookie.com/embed/dt9FSSoLbmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div style="background-color:white; display:inline-block; width:50%">
            <div class="videoWrap">
                <h4 style="text-align:center">Video Title</h4>
                <iframe style="text-align:center; width:100%;" class="videoLink" src="https://www.youtube-nocookie.com/embed/dt9FSSoLbmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
