
@{
    ViewBag.Title = "Judith Says";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JudithSays</h2>

<body>
    <div class="container">
        <h4>Funny Comment</h4>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dt9FSSoLbmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container">

    </div>
</body>
