
@{
    ViewBag.Title = "Views";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--SelfNote: Place something other than just text somewhere, there seems to be too much text-->
<head>
    <link rel="stylesheet" href="~/Content/Views.css" type="text/css" />
</head>

<body class="container">

    <h1><span class="Heading-Underline">My Views</span></h1>
    <div >
        <div class="Subcontainer">
            <h2>Current Events</h2>

            <h3><span class="Title">Title</span></h3>
            <hr />
            <!--Could Use one <pre> PlaceHolderText/Paragraph  </pre>
    instead of mutiple  <p> PlaceHolderText/Paragraph </p>
    as " <pre>" keeps all formatting done in View, so no need for mutiple <p>'s.-->
            <p class="Text">
                <img src=@Href("~/Content/Images/PlaceHolder2.JPG") />

                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <h3><span class="Title">Title</span></h3>
            <hr />
            <p class="Text">
                <img src=@Href("~/Content/Images/PlaceHolder2.JPG") />

                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
        </div>
        <br />
        <h2>National Party Polices</h2>
        <div class="Subcontainer2">
            <ul>
                <li class="PolicyName">PlaceHolderPolicy</li>
            </ul>
            <p class="PolicyDescription">
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <hr />
            <ul>
                <li class="PolicyName">PlaceHolderPolicy</li>
            </ul>
            <p class="PolicyDescription">
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <hr />
            <ul>
                <li class="PolicyName">PlaceHolderPolicy</li>
            </ul>
            <p class="PolicyDescription">
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <hr />
            <ul>
                <li class="PolicyName">PlaceHolderPolicy</li>
            </ul>
            <p class="PolicyDescription">
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <hr />
            <ul>
                <li class="PolicyName">PlaceHolderPolicy</li>
            </ul>
            <p class="PolicyDescription">
                PlaceHolderText/Paragraph PlaceHolderText/Paragraph PlaceHolderText/Paragraph
            </p>
            <br />
        </div>
    </div>

</body>