
@{
    ViewBag.Title = "Views";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Views</h2>

<body>
    <div class="container">
        <div>
            <h4>Current Events</h4>
            <p></p>
        </div>
        <div>
            <h4>National Party Polices</h4>
            <p></p>
        </div>

    </div>
</body>
