@model JACProject.Database.Post

@{
    ViewBag.Title = "CreatePost";
}

<head>
    <style>
        .formDiv {
            margin-top: 15px;
            background-color: white;
            padding-left: 5px;
        }

        .forumSubmitButton {
            border-radius: 10px 10px 10px 10px;
            margin-bottom: 1%;
            display: inline-block;
        }
    </style>
</head>

<h2>Create Post</h2>

<body class="container">
<div class="formDiv">
    @using (Html.BeginForm("PostPost", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <table>
        <tr>
            <td><label>Title:</label></td>
            <td>
                @Html.TextBoxFor(x => x.title)
            </td>
        </tr>
        <tr>
            <td><label>Post:</label></td>
            <td>
                @Html.TextAreaFor(x => x.text, new { @class = "form-control", @value = "" })
            </td>
        </tr>
        @Html.HiddenFor(x => x.id, new { @Value = ViewBag.ThreadID })
        @Html.HiddenFor(x => x.security, new { @Value = ViewBag.BoardID })
        <tr>
            <td>
                <button type="submit">Create</button>
            </td>
        </tr>
    </table>
    }
</div>
    </body>