@model JACProject.Database.Thread

@{
    ViewBag.Title = "Threads";
}

    @if (Model.title != null)
    {
        <h2>@Model.title</h2>
    }

<div style="background-color:blue">
    @foreach (var item in Model.content)
    {
        <div style="background-color:black"></div>
        <div style="background-color:white">@item.text</div>
    }
</div>